/* Gerais */
.container {
  padding: 70px 0;
}

.carousel-inner, .carousel-item {
  height: 70vh;
}

.carousel-indicators .active {
  background-color: #472816;
}

/* Sobre a empresa */
#about-area {
  background-color: #cccbcb;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
}

#about-list i {
  color: #c98200;
  margin-right: 15px;
}

/* Serviços oferecidos */
.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: #f9b465;
}


/* Agendamentos */
#call-area {
  background-color: #af7e5e;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  display: inline;
}

#call-area #call-btn {
  background-color: #FFF;
  color: #af7e5e;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
}

.call-btn {
  background-color: #49321f;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.call-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #472816;
}

/* Inscrição */
#subscription {
    text-align: center;
    background-color: #F9F9F9;
  }
  
  #subscription p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  #email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #af7e5e;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
  }
  
  #subscription-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #af7e5e;
    background-color: #af7e5e;
    color: #FFF;
    text-transform: uppercase;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
  }
  
  #subscription-btn:hover {
    background-color: #FFF;
    color: #af7e5e;
  }


/* Footer */
#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #af7e5e;
}

.contact-box i {
  color: #444;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #af7e5e;
}

#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}


/* Copy */
#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #af7e5e;
}